## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN", "NAME"], axis=1)

In [3]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [4]:
# Iterate over each column and print unique values
for column in application_df.columns:
    print(f"Unique values in column {column}:")
    print(application_df[column].unique())
    print()

Unique values in column APPLICATION_TYPE:
['T10' 'T3' 'T5' 'T7' 'T4' 'T6' 'T2' 'T9' 'T19' 'T8' 'T13' 'T12' 'T29'
 'T25' 'T14' 'T17' 'T15']

Unique values in column AFFILIATION:
['Independent' 'CompanySponsored' 'Family/Parent' 'National' 'Regional'
 'Other']

Unique values in column CLASSIFICATION:
['C1000' 'C2000' 'C3000' 'C1200' 'C2700' 'C7000' 'C7200' 'C1700' 'C4000'
 'C7100' 'C2800' 'C6000' 'C2100' 'C1238' 'C5000' 'C7120' 'C1800' 'C4100'
 'C1400' 'C1270' 'C2300' 'C8200' 'C1500' 'C7210' 'C1300' 'C1230' 'C1280'
 'C1240' 'C2710' 'C2561' 'C1250' 'C8000' 'C1245' 'C1260' 'C1235' 'C1720'
 'C1257' 'C4500' 'C2400' 'C8210' 'C1600' 'C1278' 'C1237' 'C4120' 'C2170'
 'C1728' 'C1732' 'C2380' 'C1283' 'C1570' 'C2500' 'C1267' 'C3700' 'C1580'
 'C2570' 'C1256' 'C1236' 'C1234' 'C1246' 'C2190' 'C4200' 'C0' 'C3200'
 'C5200' 'C1370' 'C2600' 'C1248' 'C6100' 'C1820' 'C1900' 'C2150']

Unique values in column USE_CASE:
['ProductDev' 'Preservation' 'Heathcare' 'CommunityServ' 'Other']

Unique values in column ORGANIZATION:
['Association' 'Co-operative' 'Trust' 'Corporation']

Unique values in column STATUS:
[1 0]

Unique values in column INCOME_AMT:
['0' '1-9999' '10000-24999' '100000-499999' '10M-50M' '25000-99999' '50M+'
 '1M-5M' '5M-10M']

Unique values in column SPECIAL_CONSIDERATIONS:
['N' 'Y']

Unique values in column ASK_AMT:
[    5000   108590     6692 ...     6713    20197 36500179]

Unique values in column IS_SUCCESSFUL:
[1 0]

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts.head

<bound method NDFrame.head of APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64>

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts[class_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_with_dummies_df = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_with_dummies_df.drop(['IS_SUCCESSFUL'], axis= 'columns').values
y = application_with_dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
nn_model = tf.keras.models.Sequential()

# Number of input features (replace `input_features` with the correct value, e.g., `X_train_scaled.shape[1]`)
input_features = X_train_scaled.shape[1]

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, activation='relu', input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 100)                 │           4,400 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 20)                  │           2,020 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              21 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 6,441 (25.16 KB)

 Trainable params: 6,441 (25.16 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=110, batch_size=16)

Epoch 1/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7101 - loss: 0.5844
Epoch 2/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7279 - loss: 0.5565
Epoch 3/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7290 - loss: 0.5522
Epoch 4/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7276 - loss: 0.5536
Epoch 5/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7313 - loss: 0.5506
Epoch 6/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7348 - loss: 0.5458
Epoch 7/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7326 - loss: 0.5486
Epoch 8/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7394 - loss: 0.5400
Epoch 9/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7372 - loss: 0.5414
Epoch 10/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7344 - loss: 0.5450
Epoch 11/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7356 - loss: 0.5427
Epoch 12/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7322 - loss: 0.5453
Epoch 13/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7356 - loss: 0.5460
Epoch 14/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7402 - loss: 0.5378
Epoch 15/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7380 - loss: 0.5389
Epoch 16/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7399 - loss: 0.5414
Epoch 17/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7333 - loss: 0.5478
Epoch 18/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7331 - loss: 0.5464
Epoch 19/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7361 - loss: 0.5455
Epoch 20/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7345 - loss: 0.5419
Epoch 21/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7348 - loss: 0.5402
Epoch 22/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7347 - loss: 0.5451
Epoch 23/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7320 - loss: 0.5468
Epoch 24/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7337 - loss: 0.5473
Epoch 25/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7419 - loss: 0.5344
Epoch 26/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7357 - loss: 0.5420
Epoch 27/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7368 - loss: 0.5393
Epoch 28/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7393 - loss: 0.5383
Epoch 29/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7335 - loss: 0.5417
Epoch 30/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7355 - loss: 0.5412
Epoch 31/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7356 - loss: 0.5390
Epoch 32/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7354 - loss: 0.5412
Epoch 33/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7361 - loss: 0.5398
Epoch 34/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7395 - loss: 0.5417
Epoch 35/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7378 - loss: 0.5406
Epoch 36/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7373 - loss: 0.5404
Epoch 37/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7382 - loss: 0.5382
Epoch 38/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7363 - loss: 0.5395
Epoch 39/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7400 - loss: 0.5325
Epoch 40/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7379 - loss: 0.5395
Epoch 41/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7338 - loss: 0.5420
Epoch 42/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7403 - loss: 0.5366
Epoch 43/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7382 - loss: 0.5356
Epoch 44/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7375 - loss: 0.5401
Epoch 45/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7427 - loss: 0.5352
Epoch 46/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7402 - loss: 0.5368
Epoch 47/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7368 - loss: 0.5365
Epoch 48/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7375 - loss: 0.5362
Epoch 49/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7392 - loss: 0.5335
Epoch 50/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7384 - loss: 0.5394
Epoch 51/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7393 - loss: 0.5345
Epoch 52/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7442 - loss: 0.5326
Epoch 53/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7398 - loss: 0.5335
Epoch 54/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7380 - loss: 0.5392
Epoch 55/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7393 - loss: 0.5348
Epoch 56/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7424 - loss: 0.5319
Epoch 57/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7321 - loss: 0.5449
Epoch 58/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7341 - loss: 0.5392
Epoch 59/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7373 - loss: 0.5378
Epoch 60/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7408 - loss: 0.5337
Epoch 61/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7405 - loss: 0.5351
Epoch 62/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7412 - loss: 0.5355
Epoch 63/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7416 - loss: 0.5341
Epoch 64/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7420 - loss: 0.5336
Epoch 65/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7411 - loss: 0.5336
Epoch 66/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7409 - loss: 0.5341
Epoch 67/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7401 - loss: 0.5364
Epoch 68/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7343 - loss: 0.5401
Epoch 69/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7439 - loss: 0.5309
Epoch 70/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7333 - loss: 0.5392
Epoch 71/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7385 - loss: 0.5329
Epoch 72/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7402 - loss: 0.5357
Epoch 73/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7414 - loss: 0.5350
Epoch 74/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7376 - loss: 0.5401
Epoch 75/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7403 - loss: 0.5324
Epoch 76/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7371 - loss: 0.5379
Epoch 77/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7414 - loss: 0.5312
Epoch 78/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7390 - loss: 0.5335
Epoch 79/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7401 - loss: 0.5374
Epoch 80/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7407 - loss: 0.5316
Epoch 81/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7399 - loss: 0.5358
Epoch 82/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7367 - loss: 0.5396
Epoch 83/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7371 - loss: 0.5348
Epoch 84/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7396 - loss: 0.5319
Epoch 85/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7409 - loss: 0.5346
Epoch 86/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7411 - loss: 0.5352
Epoch 87/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7393 - loss: 0.5368
Epoch 88/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7388 - loss: 0.5351
Epoch 89/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7373 - loss: 0.5364
Epoch 90/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7374 - loss: 0.5359
Epoch 91/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7372 - loss: 0.5381
Epoch 92/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7390 - loss: 0.5336
Epoch 93/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7412 - loss: 0.5298
Epoch 94/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7380 - loss: 0.5364
Epoch 95/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7402 - loss: 0.5356
Epoch 96/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7399 - loss: 0.5349
Epoch 97/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7396 - loss: 0.5337
Epoch 98/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7381 - loss: 0.5339
Epoch 99/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7385 - loss: 0.5369
Epoch 100/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7381 - loss: 0.5360
Epoch 101/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7425 - loss: 0.5339
Epoch 102/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7405 - loss: 0.5340
Epoch 103/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7436 - loss: 0.5315
Epoch 104/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7407 - loss: 0.5321
Epoch 105/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7438 - loss: 0.5299
Epoch 106/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7424 - loss: 0.5312
Epoch 107/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7381 - loss: 0.5363
Epoch 108/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7377 - loss: 0.5378
Epoch 109/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.7407 - loss: 0.5292
Epoch 110/110
1608/1608 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7408 - loss: 0.5342

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7272 - loss: 0.5646
Loss: 0.5646029114723206, Accuracy: 0.7272303104400635

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save("AlphabetSoupCharity.h5")